*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
body{font-family: 'Roboto', sans-serif; background-color: white; margin: 0 auto; width: 100%;}
p{font-size: 1.25em; color: black;}
button{height: 75px; width: 75px; margin-left: 1500px; background-color: white; border-radius: 0px; border: 0px}

#hero{display: flex; justify-content: center; flex-direction: column; height: 35vh; background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url("media/front-end.jpg");
    background-repeat: no-repeat; background-size: cover; background-position: center center;}

#hero h1{color: white; font-size: 90px; text-align: center;}
#somos-proya .container{text-align: center; padding: 150px 12px;}
#caracteristicas2 .container{padding: 150px 12px;}
#caracteristicas .container{padding: 150px 12px;}
#pista .img-container{ background-image: url("media/pista.png"); background-size: cover; background-position: center center; height: 75px; width: 75px; margin-left: 1500px;}

@media (min-width: 850px){#somos-proya .container{display: flex; justify-content: space-evenly;}
    #somos-proya .texto{ width: 50%; height: 50vh; max-width: 600px; text-align: initial; padding-left: 15px; display: flex; flex-direction: column; justify-content: center;}
    #somos-proya h2{margin-top: 0px; font-size: 2.7em; color: black;}
    #somos-proya .img-container{background-image: url("media/prison.png"); background-size: cover; background-position: center center; height: 450px; width: 600px;}
    #caracteristicas2 .img-container{background-image: url("media/algo.jpg"); background-size: cover; background-position: center center; height: 560px; width: 1600px;}
    #caracteristicas2 .container{display: flex; justify-content: space-evenly;}
    #caracteristicas2 .texto{margin-left: 100px; text-align: initial; padding-left: 30px; padding-right: 120px; line-height: 1.6; text-align: justify; display: flex; flex-direction: column;}
    #caracteristicas .container{display: flex; justify-content: space-evenly;}
    #caracteristicas .texto{type="hidden"; margin-left: 100px; text-align: initial; padding-left: 30px; display: flex; flex-direction: column;}
}
